@model ProductViewModel

@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var products = Model.Products;
    var categoryName = Model.Category.Name;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <style>
        .popular {
            color: green;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h1 class="@popularClass">@categoryName</h1>

    @if (products.Count == 0)
    {
        <p>Ürün Yok!</p>
    }
    else
    {

        <ul>
            @foreach (var product in products)
            {
                @if (product.IsApproved == true)
                {
                    <li>
                        <div>
                            <p>@product.Name</p>
                            <p>@product.Price</p>
                        </div>
                    </li>
                }else {
                    <li style="background-color: red;">
                        Ürün satışta değil!
                    </li>
                }

            }
        </ul>
    }

</body>

</html>